<html>

<head>
  <title>Sneakers template</title>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

  <link rel="stylesheet" href="/styles/layout.css">


  </style>
</head>

<body>

  <!-- Top Nav -->
  <nav>
    <div class="w3-top">
      <div class="w3-xlarge">
        <div class="w3-bar">
          <a href="#" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black w3-left w3-padding-16">Sneaker<b>Exchange</b></a>
          <a href="#" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black w3-padding-16">Search</a>

          <a href="#" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black w3-right w3-padding-16">Login</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-black w3-right w3-padding-16">Register</a>
        </div>

      </div>
    </div>
  </nav>

  <header>
      <div class="w3-container w3-display-middle">
        <h3><b>stay fresh, buy sneakers</b></h3>
      </div>
  </header>


  <!-- search bar -->
  <div class="search-bar">
    <form action="/sneakers" method="get">
      <div class="w3-container w3-cell">
        <label for="brand-search">Brand:</label>
        <input type="text" name="brand" placeholder="Adidas..">
      </div>

      <div class="w3-container w3-cell">
        <label for="min-price-search">Minimum Price:</label>
        <input type="number" name="min_price" placeholder="$$$...">
        <label for="max-price-search">Maximum Price:</label>
        <input type="number" name="max_price" placeholder="$$$...">
      </div>

      <div class="w3-container w3-cell">
        <label for="size-search">Size:</label>
        <input type="number" name="size" placeholder="9...">
      </div>

      <div class="w3-container w3-cell">
          <button>Search</button>
          <a id="search-property-form__cancel" href="#">Cancel</a>
      </div>
    </form>
  </div>

  <!-- !PAGE CONTENT! -->
  <main class="w3-main w3-content w3-padding">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img
          src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
          alt="Steak">
        <h3>Jordan 1 Retro</h3>
          <p>Price</p>
      </div>
      <div class="w3-quarter">
        <img
          src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
          alt="Steak">
        <h3>Jordan 1 Retro</h3>
        <p>Price</p>
      </div>
      <div class="w3-quarter">
        <img
          src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
          alt="Steak">
        <h3>Jordan 1 Retro</h3>
        <p>Price</p>
      </div>
      <div class="w3-quarter">
        <img
          src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
          alt="Steak">
        <h3>Jordan 1 Retro</h3>
        <p>Price</p>
      </div>

      <!-- Second Photo Grid-->
      <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
          <img
            src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
            alt="Steak">
          <h3>Jordan 1 Retro</h3>
          <p>Price</p>
        </div>
        <div class="w3-quarter">
          <img
            src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
            alt="Steak">
          <h3>Jordan 1 Retro</h3>
          <p>Price</p>
        </div>
        <div class="w3-quarter">
          <img
            src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
            alt="Steak">
          <h3>Jordan 1 Retro</h3>
          <p>Price</p>
        </div>
        <div class="w3-quarter">
          <img
            src="https://stockx.imgix.net/Air-Jordan-1-Retro-High-Lucky-Green-W.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1600960780&w=1000"
            alt="Steak">
          <h3>Jordan 1 Retro</h3>
          <p>Price</p>
        </div>
      </div>

      <!-- Pagination -->
      <div class="w3-center w3-padding-32">
        <div class="w3-bar">
          <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
          <a href="#" class="w3-bar-item w3-black w3-button">1</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
          <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
      </div>


    </main>

    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
      <div class="w3-third">
        <h3>FOOTER</h3>
        <p>We can add anything here</p>

      </div>

      <div class="w3-third">
        <h3>Made BY: </h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">

            <span class="w3-large">Tom</span><br>

          </li>
          <li class="w3-padding-16">

            <span class="w3-large">Calvin</span><br>

          </li>
          <li class="w3-padding-16">

            <span class="w3-large">Sher</span><br>

          </li>
        </ul>
      </div>

    </footer>

    <!-- End page content -->

</body>

</html>
