body {
  font-family: 'Nunito Sans', sans-serif;
}

header {
  max-width: 100%;
  height: 75%;
  background-size: cover;
  background-image: url(../images/header-sneaker.png);
  background-repeat: no-repeat;
  z-index: 99;
}

header .w3-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.5em;
  border: 5px solid white;
  margin-right: 5em;
  text-align: right;
}

header .w3-container p {
  font-size: 120%;
}

nav {
  width: 100%;
}

nav #logo {
  font-family: 'Krona One', sans-serif;
}

nav a:hover {
  text-decoration: none;
}

.search-bar {
  display: none;
  background-color: #21d192;
  border-top: solid 5px white;
  color: white;
  width: 100%;
  padding: 1.5em;
  position: sticky;
}

.search-bar .w3-container w3-cell {
  margin: 1em;
}

.search-bar .form-inputs {
  max-width: 83.5%;
}

.search-bar .form-inputs form {
  display: flex;
  align-items: center;
}

.search-bar .button-group {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.search-bar input {
  border: none;
  width: 100%;
  height: 40px;
  padding: 3px;
  margin: 3px;
  padding-left: 10px;
  font-size: 150%;
  outline: none;
}

.search-bar button {
  margin-right: 1.5em;
  margin-bottom: .65em;
  height: 40px;
  outline: none;
}

.search-bar #hide-button {
  font-size: 36px;
  color: white;
  cursor: pointer;
  margin-right: 1.5em;
}

.search-bar #hide-button:hover {
  color: lightgray;
}

.w3-bar-block .w3-bar-item {
  padding: 20px;
}

.w3-main {
  max-width: 1200px;
  margin-top: 100px;
}

.w3-main img {
  width: 100%;
}

.main-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-grid .w3-quarter {
  width: 90%;
  margin: 1em 0;
  border: 1px solid lightgray;
  background-color: #eeeded;
}

.main-grid .w3-quarter:hover {
  transform: scale(1.05);
  border: 1px solid darkgray;
}

.main-grid .w3-quarter .info {
  margin: .5em .5em;
}

.main-grid .w3-quarter footer {
  display: flex;
  justify-content: center;
}

.main-grid .w3-quarter footer i {
  margin-left: .5em;
  margin-top: .3em;
  font-size: 160%;
  color: rgba(224, 84, 84, 0.872);
  cursor: pointer;
}

.main-grid .w3-quarter footer i:hover {
  transform: scale(1.05);
  color: #e33333;
}

#post-sneaker {
  display: flex;
  padding-bottom: 2em;
  border-top: 5px solid white;
}

#post-sneaker .post-sneaker-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #21d192;
}

#post-sneaker .post-sneaker-header i {
  margin: 2.2em;
  font-size: 150%;
}

#post-sneaker .post-sneaker-header i:hover {
  color: white;
  cursor: pointer;
}

#post-sneaker .post-item {
  display: none;
  border-bottom: 1px solid darkgray;
  width: 100%;
}

#post-sneaker .post-item form {
  margin: 0 auto;
  width: 60%;
}

#post-sneaker .post-item input,
#post-sneaker .post-item label {
  margin: .25em 0;
}

#post-sneaker .post-item h3 {
  padding: 1.5em;
}

#post-sneaker .post-item button {
  width: 100%;
  margin: 1em 0;
  padding: .8em;
}

.login-register-forms {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.login-register-forms .signup-header {
  display: flex;
  justify-content: space-between;
  background-color: #21d192;
  padding: 1em 2em;
}

.login-register-forms .signup-header i {
  font-size: 150%;
  margin-top: .3em;
  cursor: pointer;
}

.login-register-forms .signup-header i:hover {
  color: white;
}

.login-register-forms form {
  width: 60%;
  margin: .5em auto;
}

.login-register-forms form label {
  margin-top: .5em;
}

.login-register-forms form button {
  margin: 1em 0;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .form-inputs form {
    display: flex;
    flex-direction: column;
  }
}
