#sneakers-detail {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    ul {
        list-style: none;
        li {
            margin: 0.2em 0;
            padding: 0 1em;
        }
    }
    .head {
        position: relative;
        h1 {
            font-size: 5em;
            margin: 0.3em auto;
            text-shadow: 4px 4px 6px #38373741;
            text-transform: capitalize;
        }
        #go-back {
            position: absolute;
            top: -2.5rem;
            left: -10rem;
            width: 13rem;
            height: 15rem;
            background: url(../images/go-back.png) no-repeat center;
            background-size: 13rem 15rem;
        }
        .mail {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        ul {
            display: flex;
            justify-content: center;
            margin: 0.5em auto;
            text-transform: capitalize;
            li {
                position: relative;
                &:nth-child(-n + 2) {
                    &::after {
                        position: absolute;
                        right: 0;
                        content: '|';
                        font-size: 1.2em;
                        color: rgba(26, 24, 24, 0.308);
                    }
                }
            }
        }
    }
    .main {
        margin: 3em auto;
        width: 70%;
        &.sold {
            position: relative;
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: '';
                width: 40rem;
                height: 20rem;
                background: url(../images/sold.png) no-repeat center;
                background-size: 40rem 20rem;
            }
        }
    }
    .foot {
        position: relative;
        height: 7em;
        ul {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            padding-bottom: 2em;
            li {
                text-align: left;
                text-transform: uppercase;
                color: rgba(17, 17, 17, 0.555);
                strong {
                    margin: 0 1em;
                    color: #000;
                }
            }
        }
    }
}
