#pagination {
    #page-anchor {
        & a {
            text-decoration: none;
            margin: 0 .2rem;
            &:hover {
                text-decoration: none !important;
                background-color: #22d192 !important;
                border-radius: 5px;
                box-shadow: 0px 2px 9px 3px #22d19179 !important;
            }
        }
        .ellipsis {
            &:hover {
                box-shadow: none !important;
                color: none !important;
                background-color: #fff !important;
                box-shadow: none;
            }
            color: #000 !important;
            cursor: default !important;
        }
        .current-page {
            background-color: #22d192!important;
            color: #fff;
            border-radius: 5px;
        }
    }
}
