#pagination {
    .w3-bar {
        .ellipsis {
            &:hover {
                color: none !important;
                background-color: #fff !important;
            }
            color: #000 !important;
            cursor: default;
        }
    }
}
